<div id="comic-div">
  <div id="title-header">
    <h1 id="title"></h1>
    <p id="date"></p>
    <p id="views"></p>
  </div>
  <div id="img-container">
    <img id="comic" alt="comic" />
    <p id="transcript"></p>
  </div>

  <div id="nav-section">
    <button id="previous" class="nav-button">Previous</button>
    <div id="comic-number-container">
      <p id="comic-number-text">Comic #: </p>
      <input id="comic-number" type="text" />
    </div>
    <button id="next" class="nav-button">Next</button>
  </div>
  <div id="random-container">
    <button id="random" class="nav-button">Random Comic</button>
  </div>

  <input type="hidden" />

  {{! This value is for if a paramter was inputted in the url  }}
  {{#if comicNo}}
    <input id="param" type="hidden" value="{{comicNo}}" />
  {{else}}
    <input id="param" type="hidden" value="0" />
  {{/if}}
</div>