<h1 id="title"></h1>

<div id="comic-div">
  <span id="date"></span>
  <img id="comic" alt="comic" />

  <div class="nav-section">
    <button id="previous">Previous</button>
    <input id="comic-number" type="text" />
    <button id="next">Next</button>
  </div>
</div>