<h1 id="title"></h1>
<span id="date"></span>
<div id="comic-div">

  <img id="comic" alt="comic" />

  <span id="transcript"></span>

  <div class="nav-section">
    <button id="previous">Previous</button>
    <input id="comic-number" type="text" />
    <button id="next">Next</button>
  </div>
</div>